* {
  /* background-color: brown; */
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* position: relative; */
}

/* NAV STYLE */
#main-nav {
  position: sticky;
  top: 0%;
  z-index: 1000;
  height: 10%;
  width: 100%;
  /* border: 2px solid; */
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  color: white;
  font-family: "gentonabook";
  font-size: 14px;
}
#main-nav #inner {
  /* border: 2px solid brown; */
  height: 100%;
  width: 27%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-around;
}
#nav-btn1 {
  padding: 12px 10px;
  background: rgba(255, 255, 255, 0.17);
  color: white;
  border-style: none;
  cursor: pointer;
}
#nav-btn2 {
  padding: 12px 10px;
  background-color: white;
  border-style: none;
  cursor: pointer;
}
#main-nav p,
img {
  cursor: pointer;
}

/* HERO SECTION STYLE */
#hero {
  position: relative;
  height: 45%;
  /* border: 5px solid; */
  display: flex;
  justify-content: center;
}
#hero #hero-section {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  background-image: url(./accests/hero-banner.webp);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  position: absolute;
  /* z-index: ; */
  /* overflow: hidden; */
}
#hero-section-inner {
  /* background-color: aqua; */
  /* color: white; */
  width: 70%;
  height: 100%;
  /* border: 2px solid green; */
  position: absolute;
  /* z-index: 0; */
  bottom: 0;
  /* display: flex; */
}
#hero-section-inner #hero1,
#hero2 {
  /* border: 2px solid yellow; */
  height: 44%;
}
#hero-section-inner #hero3 {
  height: 12%;
  width: 35%;
  /* border: 2px solid green; */
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
}
#hero-section-inner #hero3 p {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
#hero-section-inner #hero3 #p1 {
  color: black;
  cursor: pointer;
  border-bottom: 2px solid;
  padding: 12px;
}
#hero-section-inner #hero1 h1 {
  color: #ffffff;
  max-width: 350px;
  /* text-align: left; */
  /* font-family: 'gentonamedium'; */
  font-size: 40px;
  line-height: 48px;
  /* font-weight: 700; */
}
#hero-section-inner #hero2 {
  background: #f2f4f6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#hero-section-inner #hero2 #hero2-inner {
  border: 1px solid rgb(71, 70, 70);
  height: 40%;
  width: 28%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
}

#hero-section-inner #hero2 #hero2-inner div input {
  /* width: 90%; */
  border: none;
  outline: none;
}
#hero-section-inner #hero2 #hero2-inner div input::placeholder {
  color: black;
  font-size: 16px;
  border: none;
  font-weight: 500;
  text-align: center;
}
#hero-section-inner #hero2 #hero2-inner button {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background: url(./accests/ola_cabs_back.svg) no-repeat bottom,
    radial-gradient(
      127.68% 2996.56% at 12.65% 127.68%,
      #000000 0%,
      #222222 100%
    );
  box-shadow: -3px 3px 0 #32c86e;
  cursor: pointer;
  color: white;
  font-weight: 800;
  font-size: 17px;
}

/* BODY SECTION STYLE */

#main-body {
  /* border: 2px solid; */
  height: 100%;
  display: flex;
  justify-content: center;
}
#main-body-inner {
  /* border: 2px solid red; */
  height: 100%;
  width: 70%;
}
#main-body-inner #image {
  /* border: 2px solid green; */
  height: 20%;
}
#main-body-inner #image img {
  width: 100%;
  height: 100%;
}
#main-body-inner #head {
  height: 35%;
  /* border: 2px solid rebeccapurple; */
  display: flex;
  justify-content: center;
  align-items: end;
}
#main-body-inner #head div {
  /* border: 2px solid red; */
  width: 75%;
  height: 30%;
  margin-bottom: 50px;
}
#main-body-inner #head div h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* margin-top: 2.5rem; */
  /* margin-bottom: 2rem; */
}

#main-body-inner #card {
  /* border: 2px solid yellow; */
  height: 45%;
  display: flex;
}
#main-body-inner #card #card-inner {
  /* border: 2px solid pink; */
  width: 34%;
  height: 100%;
}
#main-body-inner #card #card-inner #img {
  height: 40%;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
}
#main-body-inner #card #card-inner #img img {
  height: 100%;
}
#main-body-inner #card #card-inner #content {
  text-align: center;
  font-weight: 600;
}
#main-body-inner #card #card-inner #content #p5 {
  font-size: 40px;
}
#main-body-inner #card #card-inner #content #p6 {
  font-size: 28px;
}
#main-body-inner #card #card-inner #content #p7 {
  font-size: 16px;
  font-weight: 500;
}

/* BODY SECTION 2 STYLING */

#body-section2 {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body-section2-inner {
  /* border: 2px solid yellow; */
  height: 75%;
  width: 70%;
}
#body-section2-inner h3 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.4rem;
  font-weight: 700;
  /* text-align: center; */
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#body-section2-inner #head{
    /* border: 2px solid pink; */
    height: 23%;
}
#body-section2-inner #card{

    height: 77%;
    /* border: 2px solid green; */
    display: flex ;
    justify-content: space-between;
}
#body-section2-inner #card-inner{
    width: 32%;
    height: 100%;
    /* border: 2px solid red; */
}
#body-section2-inner #card-inner div img{
    width: 100%;
    /* height: 100%; */
}
#body-section2-inner #card-inner div{
    /* border: 2px solid palegreen; */
    height: 50%;
}
#body-section2-inner #card-inner div #card-heading{
    font-size: 24px;
    line-height: 48px;
    /* font-family: 'gentonamedium'; */
    letter-spacing: -0.01em;
    color: #000000;
    font-weight: 600;
}
#body-section2-inner #card-inner div p{
    color: #333;
    font-size: 18px;
}





/* BODY INOVATION SECTION STYLING */

#body-inovation {
    /* border: 2px solid red; */
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #body-inovation-inner {
    /* border: 2px solid yellow; */
    height: 100%;
    width: 70%;
    display: flex;
  }
  #body-inovation-inner #mobile-img{
    /* border: 2px solid pink; */
    width: 50%;
    height: 100%;
  }
  #body-inovation-inner #mobile-img video{
    /* width: 100%; */
    height: 100%;
  }
  #body-inovation-inner #contents{
    /* border: 2px solid pink; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #body-inovation-inner #contents #contents-inner{
    /* border: 2px solid red; */
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #body-inovation-inner #contents #contents-inner div{
    /* border: 2px solid blue; */
    height: 30%;
    
  }
  #body-inovation-inner #contents #contents-inner #head p{
    font-size: 48px;
    /* font-family: 'gentonamedium'; */
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: 600;
    letter-spacing: -1px;
    /* height: 100%; */
    line-height:100%;
  }
  #body-inovation-inner #contents #contents-inner div p{
    font-size: 17px;
    font-weight: 600;
    color: rgb(0 0 0 / 70%);
  }
  #body-inovation-inner #contents #contents-inner h3{
    font-size: 22px;
    padding-bottom: 4%;
  }
  #body-inovation-inner #contents #contents-inner div #right{
    margin-left: 15%;

  }
  #body-inovation-inner #contents #contents-inner #desc{
    display: flex;
    /* border: 2px solid red; */
  }
  #body-inovation-inner #contents #contents-inner #desc #left-line{
    height: 85%;
    border: 2px solid green;
  }






/* space section styling */
#space{
  height: 20%;
}








  /* experience section styling */

  #ex-section{
    position: relative;
    /* border: 2px solid red; */
    height: 150%;

  }
  #ex-section-inner2{
    /* border: 2px solid rgb(75, 102, 210); */
    height: 100%;
    background-color: #F1F6E9;
    position: absolute;
    width: 100%;
    transform: skewY(-2deg);
  }
  #ex-section-inner{
    /* border: 2px solid rgb(138, 85, 85); */
    height: 100%;
    width: 100%;
    /* background-color: #92c83e; */
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ex-section-inner #ex-section-inside{
    width: 70%;
    height: 70%;
    /* border: 2px solid blue; */
  }
  #ex-section-inner #ex-section-inside #heading h4{
    font-size: 45px;
    /* font-family: 'gentonamedium'; */
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: 600;
    width: 50%;
    letter-spacing: -1px;
  }
  #ex-section-inner #ex-section-inside #heading{
    height: 20%;
    /* border: 2px solid yellow; */
  }
  #ex-section-inner #ex-section-inside #insurance{
    height: 40%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
  }
  #ex-section-inner #ex-section-inside #insurance #left{
    /* border: 2px solid gray; */
    width: 48%;
    height: 100%;
  }
  #ex-section-inner #ex-section-inside #insurance #left img{
    width: 100%;
    /* height: 100%; */

  }
  #ex-section-inner #ex-section-inside #insurance #right{
    /* border: 2px solid gray; */
    width: 48%;
    height: 100%;
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu1{
    width: 100%;
    height: 15%;
    /* border-bottom: 2px solid ; */
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu2{
    width: 100%;
    height: 30%;
    /* border-bottom: 2px solid ; */
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu1 p{
    font-size: 22px;
    color: #000000;
    /* margin-right: 8px; */
    line-height: 28px;
    
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu1 p button{
    height: 100%;
    padding: 0px 10px;
    background-color: #DAEED9;
    border: none;
    color: #16AA51;
    font-weight: 600;
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu2 p{
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-weight: 700;
    width: 70%;
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu3{
    display: flex;
    justify-content: space-between;
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu3 div{
    width: 30%;
    height: 100%;
  }
  #ex-section-inner #ex-section-inside #insurance #right #insu3 div p{
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.86);
    width: 75%;
    margin-top: 25%;
  }
  #ex-section-inner #ex-section-inside #insurance2 #left{
    /* border: 2px solid red; */
    width: 35%;
    height: 75%;

  }
  #ex-section-inner #ex-section-inside #insurance2 #left #p1{
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }
  #ex-section-inner #ex-section-inside #insurance2 #left #p2{
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  font-weight: 600;
  margin-top: 8%;
  }
  #ex-section-inner #ex-section-inside #insurance2 #left button{
    background: none;
    border: none;
    text-decoration: none;
    letter-spacing: -0.02em;
    color: #16AA51;
    cursor: pointer;
    font-size: 20px;
    /* font-family: 'gentonamedium'; */
    margin: 53px 0px 0px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
  }
  #ex-section-inner #ex-section-inside #insurance2 {
    height: 40%;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  #ex-section-inner #ex-section-inside #insurance2 #right{
    /* border: 2px solid red; */
    width: 60%;
    height: 75%;
    /* display: flex;
    justify-content: space-between; */
  }
  #ex-section-inner #ex-section-inside #insurance2 #right #right-inner div{
    /* border: 2px solid blue; */
    width: 30%;
    height: 80%;
  }
  #ex-section-inner #ex-section-inside #insurance2 #right #right-inner{
    display: flex;
    justify-content: space-between;
  }
  #ex-section-inner #ex-section-inside #insurance2 #right div img{
    width: 100%;
  }
  #ex-section-inner #ex-section-inside #insurance2 #right div p{
    text-align: end;
    margin-top: 4%;
    font-size: 13px;
  }






  /* people section styling */
#people-section{
  height: 110%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#people-section-inner{
  width: 70%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}
#people-section-inner #head{
  height: 9%;
  /* border: 2px solid  red; */
}

#people-section-inner #head h5{
    font-size: 45px;
    /* font-family: 'gentonamedium'; */
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: 600;
    letter-spacing: -1px;
}
#people-section-inner #content{
  height: 13%;
  /* border: 2px solid gray; */
  display: flex;
  justify-content: space-between;

}
#people-section-inner #content #left{
  width: 52%;
}
#people-section-inner #content #left p{
   font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #5c5c5c;
}
#people-section-inner #content .right{
  width: 22%;

}
#people-section-inner #content .right #p2{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #212026;
  opacity: 0.64;
  letter-spacing: -0.01em;
}
#people-section-inner #content .right #p1{
  font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #000000;
    /* font-family: 'gentonamedium'; */
    font-weight: 600;
}
#people-section-inner #image{
  /* border: 2px solid pink; */
  height: 60%;
  display: flex;
  justify-content: space-between;
}
#people-section-inner #image #left{
  /* border: 2px solid blue; */
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#people-section-inner #image #left div{
     height: 48%;
     /* border: 2px solid red; */
}
#people-section-inner #image #right{
  width: 46%;
}
#people-section-inner #image img{
  width: 100%;
  height: 100%;
}
#people-section-inner #more{
  height: 5%;
  /* border: 2px solid yellow; */
}
#people-section-inner #more button{
  background: none;
  border: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #16AA51;
  cursor: pointer;
  font-size: 20px;
  /* font-family: 'gentonamedium'; */
  /* margin: 53px 0px 0px; */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600; */
}








/* food ordering section styling */
#food-order{
  /* border: 2px solid; */
  height: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#food-order-inner{
  /* border: 2px solid red; */
  width: 70%;
  height: 62%;

}
#food-order-inner #head{
  height: 30%;
}
#food-order-inner #head h6{
  font-size: 43px;
  /* font-family: 'gentonamedium'; */
  text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
  color: #000000;
  font-weight: 600;
  letter-spacing: -1px;
  width: 40%;

}
#food-order-inner #body{
  display: flex;
  height: 60%;
  /* border: 2px solid blue; */
}
#food-order-inner #body #left{
  width: 35%;
}
#food-order-inner #body #left #p1{
  font-size: 20px;
  line-height: 30px;
  /* font-family: 'gentonalight'; */
  color: #000;
  font-weight: 100;

}
#food-order-inner #body #left #p2{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 35px;
  color: #000000;
  font-weight: 700;
  width: 90%;

}

#food-order-inner #body #left button{
  background: none;
  border: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #16AA51;
  cursor: pointer;
  font-size: 20px;
  /* font-family: 'gentonamedium'; */
  margin: 53px 0px 0px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600; 
}


#food-order-inner #body #right {
  display: flex;
  width: 65%;

  justify-content: space-between;
}
#food-order-inner #body #right div{
  width: 30%;
}
#food-order-inner #body #right div img{
  width: 100%;
  height: 100%;
}
#food-order-inner #last{
  height: 10%;
  align-content: end;
  justify-items: end;
  color: rgba(0, 0, 0, .7);
}


  


/* blog section styling */

#blog-body{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid; */
}
#blog-section{
  height: 100%;
 z-index: 0;
  background-color: #F1F6E9;
  position: absolute;
  width: 100%;
  transform: skewY(-2deg);
  /* opacity: 0.2; */
}
#blog-section-inner{
  height: 60%;
  width: 70%;
  /* border: 2px solid green; */
  /* background-color: #a86c6c; */
  position: absolute;
  z-index: 10;

}
#blog-section-inner #head{
  height: 28%;
}
#blog-section-inner #head p{
    font-size: 42px;
    /* font-family: 'gentonamedium'; */
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    color: #000000;
    font-weight: 600;
    letter-spacing: -1px;
}
#blog-section-inner #card{
  height: 72%;
  display: flex;
  justify-content: space-between;

}
#blog-section-inner #card div{
  width: 32%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#blog-section-inner #card div img{
  width: 100%;
}
#blog-section-inner #card div button{
  background: none;
  border: none;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #16AA51;
  cursor: pointer;
  font-size: 15px;
  /* font-family: 'gentonamedium'; */
  /* margin: 53px 0px 0px; */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600; 
}
#blog-section-inner #card div p{
  font-size: 20px;
  font-weight: 600;
}

/* download section styling */
#download-section{
  height: 110%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#download-section-inner{
  /* border:  2px solid blue; */
  width: 70%;
  height: 60%;
}
#download-section-inner #head{
  /* border: 2px solid green; */
  height: 35%;
  font-size: 43px;
  font-weight: 600;
  width: 60%;
}
#download-section-inner #card{
  height: 65%;
  display: flex;
  gap: 7%;
}
#download-section-inner #card div{
  /* border: 2px solid yellow; */
  width: 31%;
  height: 100%;
}
#download-section-inner #card div img{
  width: 100%;
}





/* footer section  */

#footer{
  background-color: #F2F4F6;
  height: 60%;
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
#footer-section{
  /* border: 2px solid blue; */
  width: 80%;
  height: 70%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
#footer-section #footer-content{
  height: 70%;
  /* border: 2px solid pink; */
  display: flex;
  gap: 3%;
}
#footer-section #copyright{
  height: 15%;
  /* border-top: 2px solid rgb(101, 98, 98); */

}
/* hr{
  width: 120%;
} */
#footer-section #footer-content div{
  /* border: 2px solid violet; */
  width: 15%;
}
#footer-section #footer-content #logo{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-section #footer-content div ol{
list-style: none;
display: flex;
flex-direction: column;
/* justify-content: space-between; */
gap: 15px;
font-size: 16px;
}
#copyright{
  font-size: 12px;
    line-height: 120%;
    color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: end;
}
#copyright #right{
  display: flex;
  /* justify-content: space-between; */
  gap:45px;
  text-decoration: underline;
}
#copyright #right p{
  cursor: pointer;
  font-size: 14px;
}



